<html>
    <head>
        <title>healthMIT</title>
		<link rel="stylesheet" href="style.css">
    </head>
    <body>
		<div>
			<form action = "/upload" method = "POST" enctype = "multipart/form-data">
			<h1 style="font-size:200%">Do you wear your mask correctly?</h1>
		            <input type="file" name="imgfile">
			    <input type="submit" />
			</form>
			<div>
				{{ result }}
			</div>
			<div>
				<br />
				Special thanks to the training dataset provider: <br />
				<ul>
					<li>
				C. Sagonas, E. Antonakos, G, Tzimiropoulos, S. Zafeiriou, M. Pantic. 300 faces In-the-wild challenge: Database and results. Image and Vision Computing (IMAVIS), Special Issue on Facial Landmark Localisation "In-The-Wild". 2016.

					</li><li>
C. Sagonas, G. Tzimiropoulos, S. Zafeiriou, M. Pantic. A semi-automatic methodology for facial landmark annotation. Proceedings of IEEE Int’l Conf. Computer Vision and Pattern Recognition (CVPR-W), 5th Workshop on Analysis and Modeling of Faces and Gestures (AMFG 2013). Oregon, USA, June 2013.

					</li><li>
C. Sagonas, G. Tzimiropoulos, S. Zafeiriou, M. Pantic. 300 Faces in-the-Wild Challenge: The first facial landmark localization Challenge. Proceedings of IEEE Int’l Conf. on Computer Vision (ICCV-W), 300 Faces in-the-Wild Challenge (300-W). Sydney, Australia, December 2013.
		
					</li>
				</ul>
			</div>
		</div>
    </body>
</html>
